<div class="card mb-3" style="max-width: 1600px;">
  <div class="row g-0">
    <!--avatar-->
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{ profileUser.image }}"
        style="width: 360px; height: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
    </div>

    <!--user information-->
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title">{{ profileUser.name }}</h5>
        <p class="card-text">{{ profileUser.email }}</p>
        <p class="card-text">總共留下 <strong>{{ totalComments }}</strong> 則評論在 <strong>{{ comments.length }}</strong> 間餐廳
        </p>
        <p class="card-text">總共收藏 <strong>{{profileUser.favoritedRestaurans}}</strong> 間餐廳</p>
        <p class="card-text">總共 <strong>{{profileUser.followingCounts}}</strong> 位 followings (追蹤者)</p>
        <p class="card-text">總共 <strong>{{profileUser.followerCounts}}</strong> 位 follwers (追隨者)</p>
        {{#ifCond user.id profileUser.id}}
        <a class="btn btn-primary" href="/users/{{ user.id }}/edit" role="button">Edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="cotainer-fluid" style="max-width: 1600px;">
  <div class="row g-3">
    <div class="col-4">
      <div class="card mb-3">
        <div class="card-header">
          <strong>{{profileUser.followingCounts}}</strong> 位 followings (追蹤者)
        </div>
        <div class="card-body">
          {{#each profileUser.Followings}}
          <a href="/users/{{this.id}}"><img src="{{this.image}}" width="80" height="80"
              class="m-2"></a>
          {{/each}}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>{{profileUser.followerCounts}}</strong> 位 follwers (追隨者)
        </div>
        <div class="card-body">
                    {{#each profileUser.Followers}}
                    <a href="/users/{{this.id}}"><img src="{{this.image}}" width="80" height="80" class="m-2"></a>
                    {{/each}}
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card mb-3">
        <div class="card-header">
          <span>評論過 <strong>{{ comments.length }}</strong> 個餐廳</span>
          <span>共 <strong>{{ totalComments }}</strong> 則評論</span>
        </div>
        <div class="card-body">
          <div class="row align-items-center me-2"></div>
          {{#if comments.length}}
          {{#each comments}}
          <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" width="80" height="80"
              class="m-2"></a>
          {{/each}}
          {{else}}
          <p class="card-text">尚無評論過的餐廳資料。</p>
          {{/if}}
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          已收藏 <strong>{{profileUser.favoritedRestaurans}}</strong> 間餐廳
        </div>
        <div class="card-body">
          <div class="row align-items-center me-2"></div>
          {{#if profileUser.favoritedRestaurans}}
          {{#each profileUser.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" width="80" height="80"
              class="m-2"></a>
          {{/each}}
          {{else}}
          <p class="card-text">尚無收藏過的餐廳資料。</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>